<!DOCTYPE html>
<html ng-app="Customer-homepage">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>用户管理</title>
		<!--<script src="https://webapi.amap.com/maps?v=1.4.5&key=b60ec68d434de00f2cdb5ae15e572fb8&plugin=AMap.Geocoder"></script>
		<script src="//webapi.amap.com/ui/1.0/main-async.js"></script>-->
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/CustomerHomepage.css" />
		<link rel="stylesheet" href="../../css/footer.css" />
		<script type="text/javascript" src="../../js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/angular.js"></script>
		<script type="text/javascript" src="../../js/CustomerHomepage.js"></script>
		<script type="text/javascript" src="../../js/ng-infinite-scroll.js"></script>
	</head>

	<body ng-controller="homepage-controller">
		<header>
			<table class="header-table">
				<tr>
					<td class="header-avatar"><img id="avatar" class="header-avatar" src="../../images/default-avatar.png" /></td>
					<td class="header-area"><span id="area" class="span-area" ng-bind="area"></span><span ng-hide="true">{{ area_id }}</span>
						<img class="drop-down-triangle" ng-show="area_img_visible" src="../../images/select.png" />
					</td>
					<td class="header-menu"><img id="menu" class="header-menu" src="../../images/menu_u31.png" /></td>
				</tr>
			</table>
		</header>
		<div class="divcontainer" id="divcontainer" ng-class="divcontainer">
			<div class="itemList" ng-if="succResult" infinite-scroll='loadMore(area_id)' infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check="true">
				<div ng-repeat='item in list'>
					<table class="table table-striped" style="width: 100%;" ng-click="gotoDetail(item)">
						<tr ng-hide="true">
							<td>{{item.customerId}}</td>
						</tr>
						<tr>
							<td class="table-customerId" rowspan="3">{{$index+1}}</td>
							<td>名称：{{item.customerName}}</td>
							<td class="table-customerId detail" rowspan="3"><img src="../../images/forword.png" /></td>
						</tr>
						<tr>
							<td>联系方式：{{item.customerPhone}}</td>
						</tr>
						<tr>
							<td>店铺地址：{{item.customerAddress}}</td>
						</tr>
					</table>
				</div>
				<p ng-hide="true">{{currentPage}}{{totalPage}}{{nextPage}}</p>
				<!--<div ng-show='busy'>Loading data...</div>-->
			</div>
		</div>
		<div class="div-footer" ng-include="'../../footer.html'">
	</body>
	

</html>